.commentsList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    li{
        font-weight: bold;
    }
}
.comments_container{
      
    .comments_form{
        width: 50px;
        margin-left: 40%;
}
}

