@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');


.footer_container{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 25% 20% 40% 15%;
   

    h2{
        font-family: "Odibee Sans";
        font-size: 38px;
        margin-left: 40px;
    }
    p{
        margin-top: 30px;
    }
    img{
        margin-top: 30px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 600px) {
    .footer_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        h2{
            font-size: 20px;
            margin-left: 20px;
        }
        p{
            font-size: 10px;
            margin-left: 20px;
        }
        img{
            margin-left: 20px;
        }
    }
}
