.customers{
    text-align: center;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Arial';
}
.employees{
    text-align: center;
    font-family: 'Trebuchet MS', 'Arial';
    font-size: 27px;
}
.reviews{
    text-align: center;
}