.container_staff{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    .staff_img{
    height: 294px;
    }
   
}
@media screen and( max-width: 600px) {
    .container_staff{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .staff_img{
            height: 120px;
        }
        h3{
            font-size: 15px;
        }
        p{
            font-size: 12px;
        }
    }
    
}
