@import '../../styles/theme.scss';

.review_section{
    background-color: $color-rosa;
    text-align: center;
    height: 228px;
    .review_text{
        padding-top: 30px;
        font-size: 24px;
        font-family: 'Trebuchet MS', 'Arial';
    }
    p{
        font-size: 24px;
        font-family: 'Trebuchet MS', 'Arial';
        font-style: italic;
    }
    .customer_info{
        font-size: 19px;
        font-style: normal;
    }
}

