@import '../../styles//theme.scss';
.container_login{
    height: 370px;
}
.loginbtn{
    border: none;
    border-radius: 5px;
    height: 20%;
    background-color: $color-black;
    color: white;
}
.logoutbtn{
    border: none;
    border-radius:5px;
    background-color: $color-black;
    color: white;
}

input{
    margin: 5px;
    border-radius: 5px;
    border: none;
    width: 30%;
    display: block;
    background-color:white;
    border: 1px solid $color-black;
    color: white;
   
}
input::placeholder{
    color: $color-black;
}
.text_login{
    color: white;
}